@media only screen and (max-width: 400px){

	.container80vh{
		min-height: 85vh;
	}

	.fontsizeNavLink{
		font-size: 1em;
	}

	.fontsizeAppDownLoad{
		font-size: 1em;
	}

	.fontsize10{
		font-size:1.5em;
	}

	.fontsize1dot5em{
		font-size: 1.5em;
	}

	.text-center{}

	.padding-y-5em{
		padding-top: 2em;
		padding-bottom: 2em;	
	}

	.padding-x-em{
		padding-left: 1em;
		padding-right: 1em;
	}

	.display-sm{
		display: none;
	}

	.img-container7{
	/*height: 3em;*/
	width: 7em;
	}



}

@media only screen and (min-width: 401px) and (max-width: 699px){

	.container80vh{
		min-height: 85vh;
	}

	.fontsizeNavLink{
		font-size: 1em;
	}

	.fontsizeAppDownLoad{
		font-size: 1em;
	}

	.fontsize10{
		font-size:1.5em;
	}

	.fontsize1dot5em{
		font-size: 1.5em;
	}

	.text-center{}

	.padding-y-5em{
		padding-top: 2em;
		padding-bottom: 2em;	
	}

	.padding-x-em{
		padding-left: 1em;
		padding-right: 1em;
	}

	.display-sm{
		display: none;
	}

	.img-container7{
	/*height: 3em;*/
	width: 10em;
	}



}

@media only screen and (min-width: 700px) and (max-width: 900px){

	.container80vh{
		min-height: 92vh;
	}

	.container100vh{
		min-height: 30vh;
	}

	.fontsizeNavLink{
		font-size: 1.2em;
	}

	.fontsizeAppDownLoad{
		font-size: 2em;
	}

	.fontsize10{
		font-size: 2em;
	}

	.fontsize1dot5em{
		font-size: 2.8em;
	}

	.fontsize2em{
		font-size: 3.5em;
	}

	.fontsize2dot5em{
		font-size: 5em;
	}

	.padding-x-em{
		padding-left: 3em;
		padding-right: 3em;
	}

	.padding-y-5em{
		padding-top: 3em;
		padding-bottom: 3em;	
	}

	.padding-y-5{
		padding-top: 5em;
		padding-bottom: 5em;	
	}

	.display-md{
		display: none;
	}

	.padding-y-4em{
		padding-top: 11em;
	}

	.img-container7{
	/*height: 3em;*/
	width: 9em;
	}


}

@media only screen and (min-width: 901px) and (max-width: 1439px){
	.container80vh{
		min-height: 92vh;
	}

	.padding-x-em{
		padding-left: 10em;
		padding-right: 10em;
	}

	.padding-y-4em{
		padding-top: 10em;
		padding-bottom: 10em;
	}

	.padding-y-5em{
		padding-top: 5em;
		padding-bottom: 5em;	
	}

	.fontsize1dot5em{
		font-size: 2.5em;
	}

	.fontsize2dot5em{
		font-size: 6em;
	}

	.fontsize2em{
		font-size: 3.5em;
	}

	.display-lg{
		display: none;
	}

	.padding-y-5{
		padding-top: 7em;
		padding-bottom: 7em;	
	}

	.img-container7{
	/*height: 3em;*/
	width: 15em;
	}

	.margin-x-1em{
		margin-left: 1.5em;
		margin-right: 1.5em;
	}

}

@media only screen and (min-width: 1440px) {
	.container80vh{
		min-height: 92vh;
	}

	.padding-x-em{
		padding-left: 20em;
		padding-right: 20em;
	}

	.padding-y-4em{
		padding-top: 10em;
		padding-bottom: 10em;
	}

	.padding-y-5em{
		padding-top: 5em;
		padding-bottom: 5em;	
	}

	.fontsize1dot5em{
		font-size: 2.5em;
	}

	.fontsize2dot5em{
		font-size: 6em;
	}

	.fontsize2em{
		font-size: 3.5em;
	}

	.display-lg{
		display: none;
	}

	.padding-y-5{
		padding-top: 7em;
		padding-bottom: 7em;	
	}

	.padding-x-footer{
		padding-left: 10em;
		padding-right: 10em;
	}

	.img-container7{
	/*height: 3em;*/
	width: 15em;
	}

	.margin-x-1em{
		margin-left: 1.5em;
		margin-right: 1.5em;
	}


}
